#game-board {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell.taken.red {
    background-color: red;
    cursor: default;
}

.cell.taken.yellow {
    background-color: yellow;
    cursor: default;
}

#game-status {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
